<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.$ext_modulename$" description="$ext_modulename$ Configuration" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$ext_destinationdirectory$\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance ="true">
            <include name="Project.$ext_modulename$.Templates" database="master" path="/sitecore/templates/project/$ext_modulename$"/>
            <include name="Project.$ext_modulename$.Media" database="master" path="/sitecore/media layout/$ext_modulename$"/>
            <include name="Project.$ext_modulename$.Content" database="master" path="/sitecore/content/$ext_modulename$"/>
            <include name="Project.$ext_modulename$.Layouts" database="master" path="/sitecore/layout/layouts/project/$ext_modulename$"/>
            <!--<include name="Project.$ext_modulename$.Email" database="master" path="/sitecore/content/Email"/>-->
            <!--<include name="Project.$ext_modulename$.Marketing" database="master" path="/sitecore/system/Marketing Control Panel"/>-->
            <!--<include name="Project.$ext_modulename$.TenantFolder1" database="master" path="/sitecore/content/$ext_modulename$">
              <exclude children="true"/>
            </include>-->
            <!--<include name="Project.$ext_modulename$.Tenant1" database="master" path="/sitecore/content/$ext_modulename$">
              <exclude children="true"/>
            </include>-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>