<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="$ext_layer$.$ext_modulename$" description="$ext_modulename$ Configuration" dependencies="$ext_layer$.Serialization" patch:after="configuration[@name='$ext_layer$.Serialization']">
          <targetDataStore physicalRootPath="$destinationdirectory$\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance ="true">
            <include name="$ext_layer$.$ext_modulename$.Templates" database="master" path="/sitecore/templates/$ext_layer$/$ext_modulename$">
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>