<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.$ext_modulename$" description="$ext_modulename$ Configuration" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$ext_destinationdirectory$\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance ="true">
            <include name="Foundation.$ext_modulename$.Templates" database="master" path="/sitecore/templates/foundation/$ext_modulename$"/>
            <!--<include name="Foundation.$ext_modulename$.Forms" database="master" path="/sitecore/forms/$ext_modulename$"/>-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>