<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Module2" description="Module2 Configuration" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="C:\Source\Sitecore.Helix.Templates\foundation\Module2\Sitecore.Foundation.Module2\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance ="true">
            <include name="Foundation.Module2.Templates" database="master" path="/sitecore/templates/Foundation/Module2"/>
            <!--
            <include name="Foundation.Module2.Renderings" database="master" path="/sitecore/layout/renderings/Foundation/Module2"/>
            -->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>